{% extends 'base.html' %}

{% block content %}
<div class="hero text-center mb-4">
  <h1 class="display-5">Bem-vindo ao SCAAPI</h1>
  <p class="lead">SCAAPI — Sistema de Cadastro de Animais da APIPA. Gerencie animais e interessados à adoção.</p>
  <p>Cadastre novos animais, consulte a lista existente e registre adotantes interessados nas adoções.</p>
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-4">
    <a class="btn btn-primary-custom btn-lg px-4" href="{% url 'core:animal_list' %}">Animais</a>
    <a class="btn btn-primary-custom btn-lg px-4" href="{% url 'core:adotante_list' %}">Adotantes</a>
  </div>
</div>
{% endblock %}
